<nav>
    <a class="side-nav-link" href="/admin/users">Manage Users</a>
    <a class="side-nav-link" href="/admin/products">Manage Products</a>
    <a class="side-nav-link" href="/admin/orders">Manage Orders</a>
    <a class="side-nav-link" href="/admin/profile">Profile & Address</a>

    <form action="/auth/logout" method="POST">
        <button class="side-nav-link" type="submit">Log Out</button>
    </form>
</nav>