<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Common CSS -->
    <link rel="stylesheet" href="/styles/main.css">

    <!-- Page-specific CSS -->
    <% if (typeof pageCss !== "undefined") { %>
        <link rel="stylesheet" href="<%= pageCss %>">
    <% } %>

    <title>Eco-Exchange</title>
</head>