<nav>
    <a class="side-nav-link" href="/moderator/profile">Profile & Address</a>

    <form action="/auth/logout" method="POST">
        <button class="side-nav-link" type="submit">Log Out</button>
    </form>
</nav>