<nav>
    <div>
        <p>Eco-Exchange</p>
    </div>
    <div>
        <% if (user) { %>
            <p><strong><%= user.username %></strong></p>
            <p>(<%= user.role %>)</p>
        <% } else { %>
            <a href="/auth">Login</a>
        <% } %>
    </div>
</nav>