<nav>
    <a href="/user/marketplace">Buy Products</a>
    <a href="/user/sell">Sell Products</a>
    <a href="/user/orders">My Orders</a>
    <a href="/user/profile">Profile & Address</a>

    <form action="/auth/logout" method="POST">
        <button type="submit">Log Out</button>
    </form>
</nav>