<%- include('partials/htmlHead.ejs', {pageCss: "/styles/auth.css"}) %>

<body>
    <div class="top-bar">
        <%- include('partials/topBar.ejs') %>
    </div>
        
    <div class="extended-content">
        <div class="form-container">
            <% if (locals.error) { %>
                <p class="error"><%= error %>. Please try again</p>
            <% } %>
            <p class="form-title">Login</p>

            <form class="auth-form" method="POST" action="/auth/login">

                <label class="label">Username</label>
                <input class="value" type="text" name="username" required>
            
                <label class="label">Password</label>
                <input class="value" type="password" name="password" required>

                <label class="label">Role</label>
                <select class="value" name="role" required>
                    <option value="">Select role</option>
                    <option value="USER">User</option>
                    <option value="MODERATOR">Moderator</option>
                    <option value="ADMIN">Admin</option>
                </select>
            
                <button class="btn success" type="submit">Login</button>
            </form>

            <p class="toggle-area">
                <span id="toggle-text">Don't have an account?</span>
                <button type="button" id="toggle-btn" class="link-btn">
                    Switch to Signup
                </button>
            </p>
        </div>
    </div>

    <div class="footer">
        <%- include('partials/footer.ejs') %>
    </div>

<script>
    const form = document.querySelector('.auth-form');
    const title = document.querySelector('.form-title');
    const submitBtn = form.querySelector('button[type="submit"]');
    const toggleText = document.getElementById('toggle-text');
    const toggleBtn = document.getElementById('toggle-btn');

    toggleBtn.addEventListener('click', () => {
        form.classList.add('fade-out');
        form.classList.remove('fade-in');

        setTimeout(() => {
            if (form.action.includes('/auth/login')) {
                form.action = '/auth/signup';
                title.innerText = 'Signup';
                submitBtn.innerText = 'Signup';
                toggleText.innerText = 'Already have an account?';
                toggleBtn.innerText = 'Switch to Login';
            } else {
                form.action = '/auth/login';
                title.innerText = 'Login';
                submitBtn.innerText = 'Login';
                toggleText.innerText = "Don't have an account?";
                toggleBtn.innerText = 'Switch to Signup';
            }

            form.classList.remove('fade-out');
            form.classList.add('fade-in');
        }, 200);
    });
</script>
</body>
</html>