<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eco-Exchange</title>
</head>
<body>

    <h1>Authentication</h1>

    <!-- LOGIN FORM -->
    <form method="POST" action="/login">

        <h3>Login</h3>

        <div>
            <label>Username</label><br>
            <input type="text" name="username" required>
        </div>

        <br>

        <div>
            <label>Password</label><br>
            <input type="password" name="password" required>
        </div>

        <br>

        <div>
            <label>Role</label><br>
            <select name="role" required>
                <option value="">Select role</option>
                <option value="USER">User</option>
                <option value="MODERATOR">Moderator</option>
                <option value="ADMIN">Admin</option>
            </select>
        </div>

        <br>

        <button type="submit">Login</button>
    </form>

    <!-- SIGNUP FORM -->
    <form method="POST" action="/login/signup">

        <h3>Signup</h3>

        <div>
            <label>Username</label><br>
            <input type="text" name="username" required>
        </div>

        <br>

        <div>
            <label>Password</label><br>
            <input type="password" name="password" required>
        </div>

        <br>

        <div>
            <label>Role</label><br>
            <select name="role" required>
                <option value="">Select role</option>
                <option value="USER">User</option>
                <option value="MODERATOR">Moderator</option>
                <option value="ADMIN">Admin</option>
            </select>
        </div>

        <br>

        <button type="submit">Signup</button>
    </form>

</body>
</html>
