<%- include('partials/htmlHead.ejs') %>

<body>
    <div>
        <%- include('partials/topBar.ejs') %>
    </div>

    <div>
        <%- include('partials/adminSidebar.ejs') %>
    </div>

    <div>
        <p>Manage Orders Here!!</p>
    </div>

    <div>
        <%- include('partials/footer.ejs') %>
    </div>
</body>
</html>