<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eco-Exchange | Manage Products</title>
</head>
<body>
    <p>Manage Products Here!!</p>
    <div>
        <a href="/admin">â† Back to Admin Dashboard</a>
    </div>
</body>