<%- include('partials/htmlHead.ejs') %>

<body>
    <div class="top-bar">
        <%- include('partials/topBar.ejs') %>
    </div>

    <div class="side-bar">
        <%- include('partials/adminSidebar.ejs') %>
    </div>

    <div class="main-content">
        <p>Manage Orders Here!!</p>
    </div>

    <div class="footer">
        <%- include('partials/footer.ejs') %>
    </div>
</body>
</html>