<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello User!!</h1>
    <h2>What would you like to do today?</h2>
    <ul>
        <li><a href="/buyer">Buy Products</a></li>
        <li><a href="/seller">Sell Products</a></li>
    </ul>
</body>
</html>