.order-section{
    background:var(--background-1);
    padding:30px;
    border-radius:14px;
    max-width: 70%;
    min-width: fit-content;
    margin: 30px auto;
}

.order-header{
    text-align:center;
    margin-bottom:30px;
}

.order-header h2{
    font-size: x-large;
    color: var(--text-2);
    margin-bottom:0;
    font-weight:600;
}

/*s TABLE */

.unavailable {
    color: red;
    text-align: center;
    font-size: large;
}

.orders-table{
    width:100%;
    border-collapse:collapse;
}

.orders-table th,
.orders-table td{
    padding:12px;
    border:1px solid var(--background-3);
    text-align:center;
}

.orders-table th{
    background: var(--background-2);
}

.orders-table td{
    background: var(--background-1);
}

.orders-table button{
    all: unset;
    padding:6px 10px;
    margin: 2px;
    color: var(--background-5);
    border-radius:4px;
    cursor:pointer;
}

.orders-table .btn-confirm{
    background-color: blue;
}

.orders-table .btn-complete{
    background-color: green;
}

.orders-table .btn-cancel{
    background-color: red;
}