.extended-content section{
    background:var(--background-1);

    padding:20px 30px;
    border-radius:14px;

    max-width: 70%;
    margin: 30px auto;

    text-align:center;
}

.extended-content section:hover{
    transform:translateY(-4px);
    box-shadow:0 6px 18px rgba(0,0,0,0.08);
    background:var(--background-5);
}

a {
    all: unset;

    margin-top: 20px;

    background-color: var(--background-3);
    color: var(--text-1);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    cursor: pointer;
}
a:hover{
    background-color: var(--background-2);
    color: var(--text-2);
}

.steps{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.step{
    background-color: var(--background-2);
    border-radius: 15px;
    width: 90%;
    margin: 3% auto;
}

.category-grid{
    display: flex;
    justify-content: space-around;
}

.category-grid > .category{
    background-color: var(--background-2);
    padding: 10px;
    width: 10rem;
    border-radius: 20px;

    font-style: italic;
}
