/* =======================
   CSS VARIABLES
======================= */

:root {
    --primary-green: #2e7d32;
    --light-green: #e8f5e9;
    --accent-green: #66bb6a;
    --dark-text: #263238;
    --muted-text: #546e7a;
    --white: #ffffff;
}

body {
    background-color: var(--light-green);
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 10fr 1fr;
}

.top-bar{
    grid-area: 1/1/2/3;
    background-color: var(--accent-green);
}

.side-bar{
    background-color: var(--primary-green);
}

.main-content{
    background-color: var(--light-green);
}

.footer{
    grid-area: 3/1/4/3;
    background-color: var(--accent-green);
}